.sessaoSetas {
  height: 250px;
  text-align: center;
}

.setas {
  margin-top: 180px;
  height: 50px;
  max-width: 50px;
  animation: float 2.5s infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media (max-width: 744px) {
  .sessaoSetas {
    height: 60px;
  }

  .setas {
    display: none;
  }
}
