.navegacao {
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  margin: 0 1em;
}

@media (max-width: 744px) {
  .navegacao {
    height: 72px;
  }
}
