.banner {
  padding: 3rem 8rem;
  background-color: var(--cinza);
  color: var(--branco);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.titulo {
  font-family: var(--fonte);
  font-weight: 200;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.paragrafo {
  font-family: var(--fonte);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-left: 0.5rem;
  border-right: 2px solid #ce9178;
  padding-right: 2px;
  width: 21ch;
  white-space: nowrap;
  overflow: hidden;
  animation: piscar normal infinite 0.8s, escrever 2s steps(21) both;
}

@keyframes escrever {
  from {
    width: 0;
  }
}

@keyframes piscar {
  100% {
    border-color: transparent;
  }
}

.imagens {
  height: 456px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}

.minhaFoto {
  animation: slideIn 1.5s ease forwards;
  width: 500px;
  height: auto;
  margin-right: 3em;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 1300px) {
  .banner {
    padding: 3.5rem 2rem;
  }

  .titulo {
    margin-top: 0;
    font-size: 2.5rem;
    margin-bottom: 0.1rem;
  }

  .paragrafo {
    font-size: 1rem;
    margin-left: 0.1rem;
  }

  .imagens {
    height: 338px;
  }

  .minhaFoto {
    width: 30vw;
    margin-right: 2em;
  }

  .imagens > .circuloColorido {
    right: 10vw;
    width: 30vw;
    left: 65%;
  }
}

@media (max-width: 744px) {
  .banner {
    padding: 2rem 1rem 0 1rem;
    display: block;
    text-align: center;
  }

  .titulo {
    margin-bottom: 0.2rem;
    text-align: center;
  }

  .paragrafo {
    text-align: center;
    margin: 0 auto;
  }

  .imagens {
    height: 250px;
  }

  .minhaFoto {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 35vw;
  }

  .minhaFoto {
    width: 200px;
    transform: translate(20px, -40px);
  }

  .imagens > .circuloColorido {
    width: 170px;
    transform: translate(-20px, -70px);
  }
}
