.banner {
  padding: 3rem 8rem;
  background-color: var(--cinza);
  color: var(--branco);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.titulo {
  font-family: var(--fonte);
  font-weight: 200;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.paragrafo {
  font-family: var(--fonte);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-left: 0.5rem;
  border-right: 2px solid #ce9178;
  padding-right: 2px;
  width: 21ch;
  white-space: nowrap;
  overflow: hidden;
  animation: piscar normal infinite 0.8s, escrever 2s steps(21) both;
}

@keyframes escrever {
  from {
    width: 0;
  }
}

@keyframes piscar {
  100% {
    border-color: transparent;
  }
}

.imagens {
  position: relative;
  height: 456px;
}

.imagens > .minhaFoto {
  position: absolute;
  right: 0vw;
  bottom: 2vw;
  width: 18vw;
  border-radius: 50%;
}

.imagens > .circuloColorido {
  position: absolute;
  top: 45%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 20vw;
}

@media (max-width: 1100px) {
  .banner {
    padding: 3.5rem 2rem;
  }

  .titulo {
    margin-top: 0;
    font-size: 2rem;
    margin-bottom: 0.1rem;
  }

  .paragrafo {
    font-size: 1rem;
    margin-left: 0.1rem;
  }

  .imagens {
    height: 338px;
  }

  .imagens > .minhaFoto {
    width: 25vw;
  }

  .imagens > .circuloColorido {
    right: 10vw;
    width: 30vw;
    left: 65%;
  }
}

@media (max-width: 744px) {
  .banner {
    padding: 2rem 1rem;
    display: block;
    text-align: center;
  }

  .titulo {
    margin-bottom: 0.2rem;
    text-align: center;
  }

  .paragrafo {
    text-align: center;
    margin: 0 auto;
  }

  .imagens {
    height: 307px;
  }

  .imagens > .minhaFoto,
  .imagens > .circuloColorido {
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .imagens > .minhaFoto {
    width: 150px;
    transform: translate(20px, -40px);
  }

  .imagens > .circuloColorido {
    width: 170px;
    transform: translate(-20px, -70px);
  }
}
