* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cinza: #1f1f1f;
  --marron-claro: #453e3e;
  --cor-fonte-principal: #041833;
  --cor-fonte-post: #444444;
  --branco: #ce9178;
  --fonte: "Raleway", sans-serif;

  font-family: var(--fonte);
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100vh;
}

a,
button,
input,
textarea {
  font: inherit;
  color: inherit;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: 400;
  line-height: 5rem;
}
